<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/bower_components/Materialize/dist/css/materialize.min.css' media="screen,projection"/>
  </head>
  <body>
    {{{body}}}
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/Materialize/dist/js/materialize.min.js" charset="utf-8"></script>
    <script src="/javascripts/dist/js/viralfeed.js" charset="utf-8"></script>
  </body>
</html>
